//text-color
$text-c1-dark: #000000;
$text-c1-white: #FFFFFF;
//bg-color
$bg-c1-menu-bt-large: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
$bg-c1-menu-bt-small: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);

//text-size
$text-xs: 10px;
$text-base: 13px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
//text-fontweight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;
//position 
$position-1st: relative;
$position-2nd: absolute;

@mixin text($fz, $fw, $c) {
    color: $c;
    font-size: $fz;
    font-weight: $fw;
}
//Width  
$width-1st: 0;
$width-card: 334px;
$width-img-card: 220px;
$width-body-card: 187px;
$width-btn-card: 175px;
$width-title-register: 156px;
//Height 
$height-1st: 0;
$height-card: 369px;
$height-img-card: 156px;
$height-title-register: 48px;
$height-body-card: 29px;
$height-btn-card: 64px;
//Width and height register
$width-form: 1000px;
$height-form: 400px;
//Widht and height input 
$width-input-box: 482px;
$height-input-box: 51px;
$width-input: 346px;
$height-input: 36px;
//Mixin Dimession 
@mixin dimession ($width-size: $width-1st, $height-size:$height-1st){
    width: $width-size;
    height: $height-size;
}